body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.verify-button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.verify-button:hover {
    background-color: darkred;
}
